<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hammergo.ImportOldData.Properties.Settings.dam3ModeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\源代码\damSQL\MainApp\DataBase\dam3Mode.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>